@import './base.css';

.main-columns {
  margin-top: 70px; /* Adjust to match your navbar height */
  display: flex;
  gap: 32px;
  width: 100%;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.left-column,
.right-column {
  flex: 1 1 0;
  min-width: 180px;
  max-width: 250px;
}

.center-column {
  flex: 2 1 0;
  min-width: 350px;
  max-width: 700px;
}

a,
.green {
  text-decoration: none;
  color: rgb(10, 91, 183);
  transition: 0.4s;
  padding: 3px;
}
a:hover,
.green:hover {
  color: hsla(187, 100%, 37%, 0.8);
  background: hsla(160, 100%, 37%, 0.1);
  border-radius: 4px;
}

